VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
VITE_SUPABASE_URL=https://bktksvhcgszaoqkdyhil.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY_HERE
SUPABASE_URL=https://bktksvhcgszaoqkdyhil.supabase.co
SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY_HERE
VERCEL_TOKEN=your_vercel_token_here
VERCEL_PROJECT=abangcolek-os
VERCEL_TARGET=vprod
VERCEL_EMAIL=thisidowgnut@gmail.com
